
  <div id="login_logo">
    <%= image_tag 'logo_big.png' %>
  </div>

  <div id="login_form">
    
    <p>Check out the latest ruby on rails jobs and get a company contact. OneFootIN makes it all possible.</p>

    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :confirm %>
      <%= f.password_field :password_confirmation %>
      <input id="login_btn" type="submit" name="login_submit" class="btn btn-info" value="GET JOBS">
    <% end %>

  </div>



