
<% company_array = Company.companies_with_jobs_and_connections_tri %>
  
  <%= link_to (companies_path) do %>
    <div id="header">
      <%= image_tag 'logo_big.png', {:class => 'logo_header'} %>
    </div>
  <% end %>
  <%= link_to "Sign out", '/users/sign_out', {:method => "DELETE"}  %>

<% company_array.each do |tri_company| %>

  <div class="row-fluid grid_unit companies">
        
    <div class="span4 company">
      <%= link_to (tri_company[0]) do %>
        <div class="unit_wrap">
          <p class="company_name"><%= tri_company[0].company_linkedin_name %></p>
          <div>
            <p>Jobs <span><%= tri_company[0].jobs.size %></span> Connections <span><%= tri_company[0].linkedinusers.size %></span></p>
          </div>
        </div>
      <% end %>
    </div>


    <div class="span4 company">
      <%= link_to (tri_company[1]) do %>
        <div class="unit_wrap">
          <p class="company_name"><%= tri_company[1].company_linkedin_name %></p>
          <div>
            <p>Jobs <span><%= tri_company[1].jobs.size %></span> Connections <span><%= tri_company[1].linkedinusers.size %></span></p>
          </div>
        </div>
      <% end %>
    </div>


    <div class="span4 company">
      <%= link_to (tri_company[2]) do %>
        <div class="unit_wrap">
          <p class="company_name"><%= tri_company[2].company_linkedin_name %></p>
          <div>
            <p>Jobs <span><%= tri_company[2].jobs.size %></span> Connections <span><%= tri_company[2].linkedinusers.size %></span></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<br>