<h1>These are all your LinkedIn Connections</h1>

<div class="row" style="margin-top: 16px;">
  <div class="span10">
		<h1>Positions</h1>
  	<table class="table table-striped">
  		<tr>
  			<th>Picture</th>
  			<th>First name</th>
  			<th>Last name</th>
  			<th>Location</th>
  			<th>Separation degree</th>
        <th>Public profile</th>
  		</tr>
  		<% Linkedinuser.all.each do |l| %>
  			<tr>
  				<th><img src=<%= l.picture_url %>></img></th>
  				<th><%= l.first_name %></th>
  				<th><%= l.last_name %></th>
  				<th><%= l.location %></th>
  				<th><%= l.separation_degree %></th>
  				<th><%= l.public_profile_url %></th>
  			</tr>
  		<% end %>
		</table>
  </div>
</div>